<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>335888801736-8loc5o866j7k9hn9cddi0s1k7amra6ua.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.335888801736-8loc5o866j7k9hn9cddi0s1k7amra6ua</string>
	<key>API_KEY</key>
	<string>**REMOVED**</string>
	<key>GCM_SENDER_ID</key>
	<string>335888801736</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.oashrafouad.Flash-Chat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-6fb4b</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-6fb4b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:335888801736:ios:0e4f4c7304d65329e0eafd</string>
</dict>
</plist>